#cert-a, #cert-b, #cert-c, #cert-pending{
  display: none;
  margin: 10px auto;
}

body{
  font-family: 'Archivo Narrow', sans-serif;
}

.search-tool{
  border-radius: 8px;
  border: solid 3px #df0000;

}

header{
  background: #df0000;
  margin-top: 0;
}

h1{
  color: #fff;
  padding: 8px;
  font-family: 'Shrikhand', cursive;
  font-weight: 400;
  font-size: 4rem;
  text-shadow: 3px 3px #000;
  margin-top: 0;
}

#input-area{
  padding: 8px 2%;
}

img{
  width: 100%;
}

#certificate-display, #violations-display{
  display: inline-block;
  margin: 8px 2%;
  vertical-align: top;
}

div#certificate-display{
  width: 10%;
}

div#violations-display{
  width: 80%;
}