#cert-a, #cert-b, #cert-c, #cert-pending{
  display: none;
  margin: 10px auto;
}

body{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1em;
}

.search-tool{
  border-radius: 8px;
  border: solid 3px #df0000;
  margin: 20px 2%;
}

header{
  background: #df0000;
  margin-top: 0;
}

h1{
  color: #fff;
  padding: 8px 8px 2px 8px;
  font-family: 'Shrikhand', cursive;
  font-weight: 400;
  font-size: 2.75rem;
  text-shadow: 2px 2px #000;
  margin: 0;
}

h2#eat-here{
  color: #fff;
  padding: 2px 8px 8px 8px;
  font-family: 'Shrikhand', cursive;
  font-weight: 200;
  font-size: 1.75rem;
  text-shadow: 1.5px 1.5px #000;
  margin-top: 0;
}

#spacing{
  letter-spacing: 4px;  
}

li.violation{
  font-size:1.75rem;
  list-style-type:none;
  padding-bottom: 10px;
}

li.violation:last-child{
  padding-bottom: 0;
}

ul#violations-list{
  padding: 0;
}

#input-area{
  padding: 8px 2%;
}

select#boro, input#input-area{
  height: 25px;
  padding: 1px 3px;
}

img{
  width: 100%;
}

#certificate-display, #violations-display{
  display: inline-block;
  margin: 8px 2%;
  vertical-align: top;
}

div#certificate-display{
  width: 15%;
}

div#violations-display{
  width: 75%;
}

footer{
  background: #df0000;
  margin-bottom: 0;
  text-align: right;
  color: #fff;
  padding: 4px;
  font-weight: bold;
  font-size: 1.5rem;
}