#cert-a, #cert-b, #cert-c, #cert-pending{
  display: none;
  margin: 10px auto;
}

body{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.75em;
}

.search-tool{
  border-radius: 8px;
  border: solid 3px #df0000;
  margin: 20px 0;
  padding: 0;
}

header{
  background: #df0000;
  margin: 0;
  padding: 0;
}

h1{
  color: #fff;
  padding: 8px 0 2px 0;
  font-family: 'Shrikhand', cursive;
  font-weight: 400;
  font-size: 3.75rem;
  text-shadow: 2px 2px #000;
  margin: 0;
}

#eat-here{
  color: #fff;
  padding: 2px 0 8px 0;
  font-family: 'Shrikhand', cursive;
  font-weight: 200;
  font-size: 2.75rem;
  text-shadow: 1.5px 1.5px #000;
  margin: 0;
}

#spacing{
  letter-spacing: 4px;  
}

li.violation{
  font-size:1.75rem;
  list-style-type:none;
  padding-bottom: 10px;
}

li.violation:last-child{
  padding-bottom: 0;
}

ul#violations-list{
  padding: 0;
}

#input-area{
  padding: 8px 0;
}

select#boro, input#input-area{
  padding: 1px 3px;
}

select {
  height: 26px;
}

img{
  width: 100%;
}

.certificate-display, .violations-display{
  display: inline-block;
  margin: 8px 0;
  padding: 0;
  vertical-align: top;
}

.details-container {
  padding: 0;
  margin: 0;
}

.dba-display {
  margin: 0;
  padding: 0;
}

.violations-display {
  margin: 0;
  padding: 0;
}

footer{
  background: #df0000;
  text-align: right;
  color: #fff;
  padding: 4px;
  font-weight: bold;
  font-size: 1.5rem;
}

div#loader{
  display: none;
  color: #df0000;
  font-weight: bold;
}